@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="" class=" no-touchevents csstransitions">
<head>
    <title>@Html.Sitecore().Field("Meta Title")</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="stylesheet" type="text/css" href="~/Css/bootstrap-grid.min.css">
    <link href="~/Css/Features/_webinar.css" rel="stylesheet" />
    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Css/perficient-main.css">
    <link href="~/Css/perficient-override.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed" />
    <link href="~/Css/Features/_tiles.css" rel="stylesheet" />
    <link href="~/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Css/theme.css" rel="stylesheet" />
    <link href="~/Css/style.css" rel="stylesheet" />
    <script src="~/Scripts/perficient.js"></script>
</head>
<body class="">
    @Html.Sitecore().Placeholder("header")
    <div class="jarvis-main-layout">
        @Html.Sitecore().Placeholder("main")
    </div>
    @Html.Sitecore().Placeholder("footer")
</body>
</html>