@{
    Sitecore.Data.Fields.MultilistField otherlinksfield = Model.Item.Fields["items"];
    var otheritems = otherlinksfield.GetItems();
}
<section class="cta-boxes" id="partners-boxes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-header box-section-header">
                <h2><strong>@Html.Sitecore().Field("TitleBold")</strong> @Html.Sitecore().Field("TitleNormal")</h2>
                <aside>
                    @Html.Sitecore().Field("Description")
                </aside>
            </div>
        </div>
        <div class="row-container box-wrapper">

            @foreach (Sitecore.Data.Items.Item item in otheritems)
            {
                Sitecore.Data.Fields.ImageField imageRef = item.Fields["BoxLogoImage"];
                string imgSrc = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageRef.MediaItem);
                <div class="box-container col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="box-partner box-@Html.Sitecore().Field("buttonText", item)">
                        <a href="/partners/ibm">
                            @Html.Sitecore().Field("BoxBackgroundImage", item, new { @class = "box-background img-responsive" })
                            <div class="box-overlay-container box-overlay-standard">
                                <div class="box-logo-container">
                                    <img src="@imgSrc" class="box-logo img-responsive" alt="">
                                </div>
                            </div>
                            <div class="box-overlay-container box-overlay-hover">
                                @Html.Sitecore().Field("BoxPrftLogoImage", item, new { @class = "box-prft-logo img-responsive" })
                                <h5>
                                    <b>
                                        @Html.Sitecore().Field("TitleBold", item)
                                    </b>
                                    @Html.Sitecore().Field("TitleNormal", item)
                                </h5>
                                <p></p><p>
                                    @Html.Sitecore().Field("Description", item)
                                </p><p></p>
                                <div class="button-wrapper">
                                    <div class="btn-box">
                                        @Html.Sitecore().Field("ButtonText", item)
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>